@import "https://fonts.googleapis.com/css?family=Raleway:100,400,900";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  transition: color 0.2s; }

section {
  height: 100%;
  min-height: 100vh; }

h2 {
  font-size: 2.889rem;
  font-weight: 900;
  text-transform: uppercase; }

input,
textarea {
  display: block; }

.content-wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 90px 100px 100px; }

.content-settings p, #about p, #works p {
  margin: 30px 0;
  font-size: 1rem; }
.content-settings .line, #about .line, #works .line {
  display: inline-block;
  width: 120px;
  height: 2px; }
.content-settings .line.ab, #about .line.ab, #works .line.ab {
  background-color: #fff; }
.content-settings .line.wr, #about .line.wr, #works .line.wr {
  background-color: #000; }

#scrollTop {
  display: inline-block;
  position: fixed;
  right: 30px;
  bottom: 25px;
  cursor: pointer;
  font-weight: 100;
  width: 50px;
  height: 50px;
  background: url(../img/scrolltop.png) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }

.bottom-line {
  display: inline-block;
  left: 0;
  bottom: -1px;
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: width 0.2s ease, background-color 0.2s ease; }

.menu-after-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
  font-size: 1.2rem; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c7316c;
  padding: 4% 0;
  z-index: 999;
  overflow: hidden; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 100%;
    font-size: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .overlay nav ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      height: 100%;
      position: relative; }
      .overlay nav ul li {
        display: block;
        height: 17%;
        position: relative; }
        .overlay nav ul li a {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative; }
          .overlay nav ul li a .menu-circle {
            height: 100%;
            vertical-align: middle; }
          .overlay nav ul li a .menu-item {
            position: absolute;
            left: 50%;
            height: 60%;
            transform: translate(-50%, -50%);
            top: 50%; }
        .overlay nav ul li:first-child .menu-item {
          height: 60%; }
        .overlay nav ul li:nth-child(2) .menu-item {
          height: 50%; }
        .overlay nav ul li:nth-child(3) .menu-item {
          height: 45%; }
        .overlay nav ul li:nth-child(4) .menu-item {
          height: 50%; }
        .overlay nav ul li:last-child .menu-item {
          height: 30%; }

.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }
  .overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px; }
    .overlay-hugeinc nav ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s; }

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg); }

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  height: 110px; }
  header #menu {
    position: absolute;
    left: 30px; }
    header #menu a {
      font-size: 1.3rem; }
      header #menu a:hover .bottom-line {
        width: 100%; }
  header #langs {
    position: absolute;
    top: 0;
    right: 30px; }
    header #langs .active .bottom-line {
      width: 100%; }
    header #langs a {
      position: relative;
      margin-left: 22px; }
      header #langs a:first-child {
        margin-left: 0; }
      header #langs a:hover .bottom-line {
        width: 100%; }

#main {
  background: url(../img/main.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  #main #logosslogan {
    margin: auto;
    max-width: 600px;
    width: 100%;
    padding: 0 20px 0 20px;
    text-align: center; }
    #main #logosslogan p {
      margin-top: 40px;
      color: #fff;
      font-size: 2rem;
      max-width: 600px;
      font-weight: 100; }
    #main #logosslogan img {
      max-width: 80%; }
  #main span {
    color: #fff;
    text-align: center;
    margin-bottom: 30px; }

#about {
  background-color: #4a3372;
  color: #fff;
  transition: all 0.3s; }

#works {
  background-color: #ffef91;
  color: #000;
  transition: all 0.3s; }

#contact {
  background-color: #c9326d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #contact .form-wrapper {
    max-width: 600px;
    width: 100%; }
  #contact #contact-form {
    margin-top: 30px; }
    #contact #contact-form input,
    #contact #contact-form textarea {
      margin-top: 22px;
      border: 2px solid #fff;
      padding: 10px 10px 10px 10px;
      background-color: rgba(255, 255, 255, 0);
      color: #fff;
      font-size: 0.889rem;
      font-family: 'Raleway', sans-serif;
      outline: none; }
    #contact #contact-form input::-webkit-input-placeholder,
    #contact #contact-form textarea::-webkit-input-placeholder {
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-size: 0.889rem; }
    #contact #contact-form input::-moz-placeholder,
    #contact #contact-form textarea::-moz-placeholder {
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-size: 0.889rem; }
    #contact #contact-form input:-ms-input-placeholder,
    #contact #contact-form textarea:-ms-input-placeholder {
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-size: 0.889rem; }
    #contact #contact-form input {
      max-width: 300px;
      width: 100%;
      height: 54px; }
    #contact #contact-form textarea {
      resize: none;
      width: 100%;
      max-width: 600px; }
    #contact #contact-form #submit-btn {
      display: inline-block;
      width: 48px;
      height: 32px;
      background: url(../img/submit.png) no-repeat;
      border: 0;
      cursor: pointer;
      background-size: 100% 100%;
      float: right; }
  #contact span {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1rem; }

@media (max-width: 900px), (max-height: 500px) {
  .overlay ul li a span {
    font-size: 0.9rem; } }
@media (max-width: 900px) {
  html, body {
    font-size: 14px; }

  #scrollTop {
    width: 38px;
    height: 38px; } }
@media (max-width: 767px) {
  header #langs a {
    margin-left: 0px;
    display: block;
    margin-bottom: 16px; }
    header #langs a:last-child {
      margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
