@media (max-width: 900px) , (max-height: 500px) {
    .overlay ul li a span {
        font-size: 0.9rem;
    }
}

@media (max-width: 900px) {
    html, body {
        font-size: 14px;
    }

    #scrollTop {
        width: 38px;
        height: 38px;
    }
}