 header {
     position: fixed;
     left: 0;
     right: 0;
     top: 20px;
     height: 110px;
     //outline: 1px solid #eee;
     #menu {
         position: absolute;
         left: 20px;
         a {
             font-size: 1.3rem;
             &:hover .bottom-line {
                 width: 100%;
             }
         }
     }
     #langs {
         position: absolute;
         top: 0;
         right: 20px;
         .active .bottom-line {
             width: 100%;
         }
         a {
             position: relative;
             margin-left: 22px;
             &:first-child {
                 margin-left: 0;
             }
             &:hover .bottom-line {
                 width: 100%;
             }
         }
     }
 }
 
 #main {
     background: url(../img/main.jpg) no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     #logosslogan {
         margin: auto;
         max-width: 600px;
         width: 100%;
         padding: 0 20px 0 20px;
         text-align: center;
         p {
             margin-top: 40px;
             color: #fff;
             font-size: 2rem;
             max-width: 600px;
             font-weight: 100;
         }
         img {
             max-width: 80%;
         }
     }
     span {
         color: #fff;
         text-align: center;
         margin-bottom: 30px
     }
 }
 
 #about {
     background-color: #4a3372;
     color: #fff;
     @extend .content-settings;
     transition: all .3s
 }
 
 #works {
     background-color: #ffef91;
     color: #000;
     @extend .content-settings;
     transition: all .3s
 }
 
 #contact {
     background-color: #c9326d;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     .form-wrapper {
         max-width: 600px;
         width: 100%;
     }
     #contact-form {
         margin-top: 30px;
         input,
         textarea {
             margin-top: 22px;
             border: 2px solid #fff;
             padding: 10px 10px 10px 10px;
             background-color: rgba(255, 255, 255, 0);
             color: #fff;
             font-size: 0.889rem;
             font-family: 'Raleway', sans-serif;
             outline: none;
         }
         input::-webkit-input-placeholder,
         textarea::-webkit-input-placeholder {
             color: #fff;
             font-family: 'Raleway', sans-serif;
             font-size: 0.889rem;
         }
         input::-moz-placeholder,
         textarea::-moz-placeholder {
             color: #fff;
             font-family: 'Raleway', sans-serif;
             font-size: 0.889rem;
         }
         input:-ms-input-placeholder,
         textarea:-ms-input-placeholder {
             color: #fff;
             font-family: 'Raleway', sans-serif;
             font-size: 0.889rem;
         }
         input {
             max-width: 300px;
             width: 100%;
             height: 54px;
         }
         textarea {
             resize: none;
             width: 100%;
             max-width: 600px;
         }
         #submit-btn {
             display: inline-block;
             width: 48px;
             height: 32px;
             background: url(../img/submit.png) no-repeat;
             border: 0;
             cursor: pointer;
             background-size: 100% 100%;
             float: right;
         }
     }
     span {
         color: #fff;
         text-align: center;
         margin-bottom: 30px;
         font-size: 1rem;
     }
 }